h2 {
    color: #666;
    font-family: monospace;
    text-align: center;
}

.background {
    table-layout: fixed;
    border-spacing: 0;
}

.background td {
    padding: 0;
}

.lava, .actor {
    background: #e55;
}

.wall {
    background: #444;
    border: solid 3px #333;
    box-sizing: content-box;
}

.actor {
    position: absolute;
}

.coin {
    background: #e2e838;
    border-radius: 50%;
}

/* .player {
    background: #335699;
    box-shadow: none;
}*/

.player {
    background: none;
    background-image: url('player.png');
    background-size: cover;
    box-shadow: none;
    transform: scaleX(1);
    transition: transform 0.1s linear;
}

.player.facing-left {
    transform: scaleX(-1);
}

.lost .player {
    background: #a04040;
}

.won .player {
    /* background: green; */
}

.game {
    position: relative;
    overflow: hidden;
}