body {
    font-family: 'Courier New', monospace;
    background: rgb(175,63,251);
    background: radial-gradient(circle, rgba(175,63,251,1) 0%, rgba(102,70,252,1) 100%); 
    color: #fff;
    padding: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #8c8c8c;
    background-image: url("bezel.png"), url("scanlines.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 101% auto, contain;
    background-position: center center, center center;
    padding: 55px;
    height: 582px;
    width: 808px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.prompt {
    color: #0ff;
}

.input {
    color: #fff;
    margin-bottom: 5px;
}

.output {
    color: #fff;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.command {
    color: #0ff;
}

.directory {
    color: #fff;
}

.parameter {
    color: #f0f;
}

.ascii-art {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    text-shadow: 2px 2px;
    white-space: pre;
    animation: colorFade 8s infinite;
    margin-left: 50px;
}

.cursor {
    animation: cursorBlink 0.8s infinite;
}

@keyframes colorFade {
    0%, 10% { color: #0f0; }
    20%, 30% { color: #f00; }
    40%, 50% { color: #00f; }
    60%, 70% { color: #ff0; }
    80%, 90% { color: #f00; }
    100% { color: #0f0; }
}

@keyframes cursorBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flashAnimation {
  0% {
    background-image: url("bezel.png"), url("scanlines.png");
    transform: translate(calc(-10px + 20px * random()), calc(-10px + 20px * random()));
    background-size: 101% auto, contain;
  }
  50% {
    background-image: url("bezel.png"), url("static.webp");
    transform: translate(calc(-10px + 20px * random()), calc(-10px + 20px * random()));
    background-size: 101% auto, 98% auto;
  }
  51% {
    background-image: url("bezel.png"), url("rick-roll.webp");
    background-size: 101% auto, 98% auto;
    filter: brightness(50%);
    transform: translate(calc(-10px + 20px * random()), calc(-10px + 20px * random()));
  }
  100% {
    background-image: url("bezel.png"), url("scanlines.png");
    background-size: 101% auto, contain;
    transform: translate(calc(-10px + 20px * random()), calc(-10px + 20px * random()));
  }
}

.container.flashing {
  animation: flashAnimation 3s linear infinite;
  animation-delay: 1s;
}

.msdos-section {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.msdos-section:nth-child(odd) {
    animation-delay: 0.2s;
}

.msdos-section:nth-child(even) {
    animation-delay: 0.4s;
}

@media (max-width: 800px) {
    body {
        overflow: hidden;
    }

    .container {
        display: none;
    }
}